<style>
    .blog-container {

        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        padding-top: 50px;

        >.blog {
            width: 400px;
           
       
        }


    }
</style>


<div class="blog-container">
    {{#each blogs}}
    <div class="blog">
        <img src="{{this.blogPicture}}" alt="{{this._id}}" width="400">
        <h1> {{this.blogTitle}} </h1>
        {{!-- <p> {{{this.blogDescription}}}</p> --}}
        <a href="/blog/{{this._id}}"> Read more </a>
    </div>
    {{/each}}

</div>